SECRET_KEY=xxxxxxxxxxxxxxxx
JWT_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxx
MYSQL_DATABASE=xxxxxxxx
MYSQL_USER=xxxxxxx
MYSQL_PASSWORD=xxxxxxxxxxxx
MYSQL_HOST=xxxxxxxxxxxxxxxxxxxxx
MYSQL_PORT=xxxxx

AWS_REGION=xxxxxxxx
AWS_ACCESS_KEY_ID=xxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxx

HOST_NAME=xxxxxxxxxxxxx
SERVICE_NAME=xxxxxxxxx
SERVICE_EMAIL=xxxxxxxxxxx
SECURITY_PASSWORD_SALT=xxxxxxxxxxxxxxxxxx
